@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Poppins:wght@300;600&display=swap');

body{
    display: flex;
    align-items: center;
    align-content: center;
    font-family: 'Inter', sans-serif;
    height: 100vh;
    width: 100vw;
    background-color: aquamarine;
    color: rgb(92, 92, 92);
}
.home{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    margin: auto;
    height: 70%;
    width: 30%;
    background-color: white;
    padding: 2%;
}
p{
    text-align: center;
}

.home>div:first-child>p{
    font-size: larger;
    font-weight: bold;
}
.home>section{
    display: flex;
    flex-direction: column;
    height: 15%;
    justify-content: center;
    align-content: center;
}
.home>section>input{
    display: block;
    margin: auto;
    height: 45%;
    width: 90%;
}
.home>section>label{
    font-size: small;
    margin-left: 4%;
}
.home>section>span{
    font-size:10px;
    margin-left: 4%;
    color: red;
}
.home>section>button{
    display: block;
    margin: auto;
    height: 45%;
    width: 40%;
    background-color: rgba(2, 138, 61, 1);
    border-style: none;
    color: white;
    
    font-size: small;
}

.game{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: auto;
    height: 70%;
    width: 30%;
    background-color: white;
    padding: 2%;
}
.game>div:nth-child(2)  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    width: 100%;
    height: 10%;
}

.game>div:nth-child(2) >div:first-child{
    display: flex;
    height: 40%;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
}

.game>div:nth-child(2) >div:first-child>span{
    font-size:small;
}

.game>div:nth-child(2)>div:last-child{
    background-color: gray;
    height: 15%;
    width: 100%;
    border-radius: 5px;
}
.game>div:nth-child(2)>div:last-child>div{
    background-color:rgba(2, 138, 61, 1);
    height: 100%;
    width: 100%;
    border-radius: 5px;
}
.game>div>input{
    accent-color: rgba(2, 138, 61, 1);
}
.game>div:nth-child(3){
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    align-items: center;
    align-content: center;
    border: 1px solid gray;
    height:6%;
}
.game>div:nth-child(4){
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    align-items: center;
    align-content: center;
    border: 1px solid gray;
    height:6%;
}
.game>div:nth-child(5){
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    align-items: center;
    align-content: center;
    border: 1px solid gray;
    height:6%;
}
.game>div:nth-child(6){
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    align-items: center;
    align-content: center;
    border: 1px solid gray;
    height:6%;
}
.game>div:nth-child(7){
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content:space-between;  
}
.game>div>button:first-child{
    display: block;
    height: 150%;
    width: 45%;
    background-color:rgba(236, 136, 12, 1);
    border-style: none;
    color: white;    
    font-size: small;
}
.game>div>button:last-child{
    display: block;
    height: 150%;
    width: 45%;
    background-color: rgba(2, 138, 61, 0.5);
    border-style: none;
    color: white;    
    font-size: small;
}
.result{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    align-content: center;
    margin: auto;
    height: 70%;
    width: 30%;
    background-color: white;
    padding: 2%;
} 
.result>div{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 15%;
    width: 100%;
}
.result>div:nth-child(2)>p{
    font-size: small;
}
.result>div:nth-child(5)>p{
    font-size: small;
}
.result>div>button{
    display: block;
    margin: auto;
    height: 45%;
    width: 40%;
    background-color:rgba(8, 128, 214, 1);
    border-style: none;
    color: white;    
    font-size: small;
}
@media screen and (max-width:767px) {
    .home{
        height:90%;
        width: 80%;
    }
    .game{
        height:90%;
        width: 80%;
    }
    .result{
        height:90%;
        width: 80%;
    }
}